@font-face {
    font-family: 'Rubens Modern';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/Rubens\ Modern.ttf') format('truetype'), 
         url('../fonts/Rubens\ Modern.ttf') format('woff'), 
         url('../fonts/Rubens\ Modern.ttf') format('woff'), 
}
body{ background: url(../img/sosy.png) no-repeat;
    width: 90%;
    height: 90%;
  }

.header_main_text{
    color: #f01a1a;
    font-size: 135px;
    position: relative;
    left: 550px;
    top: 10px;
    font-family: 'Rubens Modern';
}

.landing-start-arrow{
  -webkit-animation: blink2 1s linear infinite;
  font-family: 'Press Start 2P', cursive;
    animation: blink2 1s linear infinite;
    font-size: 40px;
    color: #f01a1a;
    position: relative;
    top: 153px;
    left: 750px;
   
  }
  @-webkit-keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
  }
  @keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
  }

  .press-start{
    font-family: 'Press Start 2P', cursive;
    font-size:  30px;
    text-decoration: none;
    background: none;
    border: none;
    color: #f01a1a;
    position: relative;
    top: 150px;
    left: 750px;
  }
  .press-start:hover{color: rgb(119, 12, 12);}

